.head {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;
}

.price {
  display: flex;
  width: 160px;
  align-items: center;
  justify-content: center;
}

.cursor {
  cursor: pointer;
}